.userform{
    height: 50%;
    width: 40%;
    padding-left: 80px;
    padding-right: 60px;
  
    }
    .uform{
        margin-left: 30% ;
        background-color: rgb(232, 220, 243);
        width: 250%;
        padding-left: 30%;
    }
    